/* Silahkan isi CSS dibawah bagian komentar dari masing-masing komponen tugas */

/* Header */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10
}

.logo {
  width: 124px;
  margin-top: 20px;
  margin-left: 100px;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.header-left {
  float: left;
  color: white;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}


/* Main */



/* Secondary */



/* Footer */
footer {
  background-color: #383e56;
  width: 100%;
  color: white;
}

footer p {
  font-size: 12px;
  color: #586069;
  padding: 0 0 20px 10px;
}

.footer-container {
  display: flex;
  padding-top: 10px;
}

.left-footer {
  flex: 34%;
  padding-left: 10px;
}

.center-footer {
  flex: 33%;
  text-align: center;
}

.center-footer li {
  list-style: none;
  float: left;
  padding-right: 30px;
}

.center-footer a {
  text-decoration: none;
  color: white;
}

.right-footer {
  flex: 33%;
  text-align: center;
  padding-top: 10px;
}

.right-footer a {
  color: white;
  padding-left: 20px;
}


/* Animasi */