/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* Header */

    /* Main */

    /* Secondary */

    /* Footer */

    /* Animasi */


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Header */

    /* Main */

    /* Secondary */

    /* Footer */

    /* Animasi */


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Header */

    /* Main */

    /* Secondary */

    /* Footer */

    /* Animasi */


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Header */

    /* Main */

    /* Secondary */

    /* Footer */

    /* Animasi */


}


/* Main */

@media all and (max-width: 1000px) {
    .top-wrapper h1 {
    font-size: 32px;
  }
  }
}

@media all and (max-width: 670px) {
    .btn {
      width: 70%;
    }
    
    .top-wrapper {
      text-align: left;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper keterangan {
      font-size: 14px;
      line-height: 20px;
    }
  }
